<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.begincode.core.mapper.BegincodeProjectMapper" >
  <resultMap id="BaseResultMap" type="org.begincode.core.model.BegincodeProject" >
    <id column="begincode_project_id" property="begincodeProjectId" jdbcType="INTEGER" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_intro" property="projectIntro" jdbcType="VARCHAR" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="CHAR" />
    <result column="begincode_navigation_id" property="begincodeNavigationId" jdbcType="INTEGER" />
    <result column="begincode_user_id" property="begincodeUserId" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    begincode_project_id, project_name, project_intro, create_datetime, delete_flag, 
    begincode_navigation_id, begincode_user_id, nickname, pic
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from begincode_project
    where begincode_project_id = #{begincodeProjectId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from begincode_project
    where begincode_project_id = #{begincodeProjectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.begincode.core.model.BegincodeProject" >
    insert into begincode_project (begincode_project_id, project_name, 
      project_intro, create_datetime, delete_flag, 
      begincode_navigation_id, begincode_user_id, 
      nickname, pic)
    values (#{begincodeProjectId,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, 
      #{projectIntro,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=CHAR}, 
      #{begincodeNavigationId,jdbcType=INTEGER}, #{begincodeUserId,jdbcType=INTEGER}, 
      #{nickname,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.begincode.core.model.BegincodeProject" >
    insert into begincode_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="begincodeProjectId != null" >
        begincode_project_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="projectIntro != null" >
        project_intro,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="begincodeNavigationId != null" >
        begincode_navigation_id,
      </if>
      <if test="begincodeUserId != null" >
        begincode_user_id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="pic != null" >
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="begincodeProjectId != null" >
        #{begincodeProjectId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectIntro != null" >
        #{projectIntro,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="begincodeNavigationId != null" >
        #{begincodeNavigationId,jdbcType=INTEGER},
      </if>
      <if test="begincodeUserId != null" >
        #{begincodeUserId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.begincode.core.model.BegincodeProject" >
    update begincode_project
    <set >
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectIntro != null" >
        project_intro = #{projectIntro,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="begincodeNavigationId != null" >
        begincode_navigation_id = #{begincodeNavigationId,jdbcType=INTEGER},
      </if>
      <if test="begincodeUserId != null" >
        begincode_user_id = #{begincodeUserId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
    </set>
    where begincode_project_id = #{begincodeProjectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.begincode.core.model.BegincodeProject" >
    update begincode_project
    set project_name = #{projectName,jdbcType=VARCHAR},
      project_intro = #{projectIntro,jdbcType=VARCHAR},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=CHAR},
      begincode_navigation_id = #{begincodeNavigationId,jdbcType=INTEGER},
      begincode_user_id = #{begincodeUserId,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR}
    where begincode_project_id = #{begincodeProjectId,jdbcType=INTEGER}
  </update>
</mapper>