<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.begincode.core.mapper.BegincodeCodeMapper" >
  <resultMap id="BaseResultMap" type="org.begincode.core.model.BegincodeCode" >
    <id column="begincode_code_id" property="begincodeCodeId" jdbcType="INTEGER" />
    <result column="code_info" property="codeInfo" jdbcType="VARCHAR" />
    <result column="code_download_url" property="codeDownloadUrl" jdbcType="VARCHAR" />
    <result column="prohibition_message" property="prohibitionMessage" jdbcType="CHAR" />
    <result column="begincode_keys" property="begincodeKeys" jdbcType="VARCHAR" />
    <result column="view_count" property="viewCount" jdbcType="INTEGER" />
    <result column="begincode_navigation_id" property="begincodeNavigationId" jdbcType="INTEGER" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="CHAR" />
    <result column="good_count" property="goodCount" jdbcType="INTEGER" />
    <result column="bad_count" property="badCount" jdbcType="INTEGER" />
    <result column="code_type_id" property="codeTypeId" jdbcType="INTEGER" />
    <result column="release_state" property="releaseState" jdbcType="CHAR" />
    <result column="check_flag" property="checkFlag" jdbcType="CHAR" />
    <result column="code_type_name" property="codeTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.begincode.core.model.BegincodeCode" extends="BaseResultMap" >
    <result column="code_content" property="codeContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    begincode_code_id, code_info, code_download_url, prohibition_message, begincode_keys, 
    view_count, begincode_navigation_id,  create_datetime, delete_flag, 
    good_count, bad_count, code_type_id, release_state, check_flag, code_type_name
  </sql>
  <sql id="Blob_Column_List" >
    code_content
  </sql>
  
  <!-- 分页查询begin -->
  <sql id="Selective_Option">
      <if test="codeInfo != null" >
        code_info like #{codeInfo}
      </if>
      <if test="prohibitionMessage != null" >
        and prohibition_message = #{prohibitionMessage}
      </if>
      <if test="begincodeKeys != null" >
        and begincode_keys like  #{begincodeKeys}
      </if>
      <if test="begincodeNavigationId != null" >
        and  begincode_navigation_id = #{begincodeNavigationId}
      </if>
      <if test="deleteFlag != null" >
        and  delete_flag = #{deleteFlag}
      </if>
      <if test="codeTypeId != null" >
       and code_type_id = #{codeTypeId}
      </if>
      <if test="releaseState != null" >
       and  release_state = #{releaseState}
      </if>
      <if test="checkFlag != null" >
       and check_flag = #{checkFlag}
      </if>
      <if test="codeTypeName != null" >
       and code_type_name  like #{codeTypeName}
      </if>
  </sql>
  <select id="selectBySelective" resultMap="BaseResultMap" parameterType="org.begincode.core.model.BegincodeCode" >
  	select  
  		 <include refid="Base_Column_List" />
  		 from begincode_code
  	<trim prefix="WHERE" prefixOverrides="AND">
   		<include refid="Selective_Option"></include>
	</trim>
  </select>
    <select id="selectBySelectiveCount" resultType="java.lang.Integer" parameterType="org.begincode.core.model.BegincodeCode" >
  		select  count(0)
  		from begincode_code
  	<trim prefix="WHERE" prefixOverrides="AND">
   		<include refid="Selective_Option"></include>
	</trim>
  </select>
  <!-- 分页查询end -->
  
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from begincode_code
    where begincode_code_id = #{begincodeCodeId,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from begincode_code
    where begincode_code_id = #{begincodeCodeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.begincode.core.model.BegincodeCode" >
    insert into begincode_code (begincode_code_id, code_info, code_download_url, 
      prohibition_message, begincode_keys, view_count, 
      begincode_navigation_id,  
      create_datetime, delete_flag, good_count, 
      bad_count, code_type_id, release_state, 
      check_flag, code_type_name, code_content
      )
    values (#{begincodeCodeId,jdbcType=INTEGER}, #{codeInfo,jdbcType=VARCHAR}, #{codeDownloadUrl,jdbcType=VARCHAR}, 
      #{prohibitionMessage,jdbcType=CHAR}, #{begincodeKeys,jdbcType=VARCHAR}, #{viewCount,jdbcType=INTEGER}, 
      #{begincodeNavigationId,jdbcType=INTEGER},  
      #{createDatetime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=CHAR}, #{goodCount,jdbcType=INTEGER}, 
      #{badCount,jdbcType=INTEGER}, #{codeTypeId,jdbcType=INTEGER}, #{releaseState,jdbcType=CHAR}, 
      #{checkFlag,jdbcType=CHAR}, #{codeTypeName,jdbcType=VARCHAR}, #{codeContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.begincode.core.model.BegincodeCode" >
    insert into begincode_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="begincodeCodeId != null" >
        begincode_code_id,
      </if>
      <if test="codeInfo != null" >
        code_info,
      </if>
      <if test="codeDownloadUrl != null" >
        code_download_url,
      </if>
      <if test="prohibitionMessage != null" >
        prohibition_message,
      </if>
      <if test="begincodeKeys != null" >
        begincode_keys,
      </if>
      <if test="viewCount != null" >
        view_count,
      </if>
      <if test="begincodeNavigationId != null" >
        begincode_navigation_id,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="goodCount != null" >
        good_count,
      </if>
      <if test="badCount != null" >
        bad_count,
      </if>
      <if test="codeTypeId != null" >
        code_type_id,
      </if>
      <if test="releaseState != null" >
        release_state,
      </if>
      <if test="checkFlag != null" >
        check_flag,
      </if>
      <if test="codeTypeName != null" >
        code_type_name,
      </if>
      <if test="codeContent != null" >
        code_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="begincodeCodeId != null" >
        #{begincodeCodeId,jdbcType=INTEGER},
      </if>
      <if test="codeInfo != null" >
        #{codeInfo,jdbcType=VARCHAR},
      </if>
      <if test="codeDownloadUrl != null" >
        #{codeDownloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="prohibitionMessage != null" >
        #{prohibitionMessage,jdbcType=CHAR},
      </if>
      <if test="begincodeKeys != null" >
        #{begincodeKeys,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null" >
        #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="begincodeNavigationId != null" >
        #{begincodeNavigationId,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="goodCount != null" >
        #{goodCount,jdbcType=INTEGER},
      </if>
      <if test="badCount != null" >
        #{badCount,jdbcType=INTEGER},
      </if>
      <if test="codeTypeId != null" >
        #{codeTypeId,jdbcType=INTEGER},
      </if>
      <if test="releaseState != null" >
        #{releaseState,jdbcType=CHAR},
      </if>
      <if test="checkFlag != null" >
        #{checkFlag,jdbcType=CHAR},
      </if>
      <if test="codeTypeName != null" >
        #{codeTypeName,jdbcType=VARCHAR},
      </if>
      <if test="codeContent != null" >
        #{codeContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.begincode.core.model.BegincodeCode" >
    update begincode_code
    <set >
      <if test="codeInfo != null" >
        code_info = #{codeInfo,jdbcType=VARCHAR},
      </if>
      <if test="codeDownloadUrl != null" >
        code_download_url = #{codeDownloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="prohibitionMessage != null" >
        prohibition_message = #{prohibitionMessage,jdbcType=CHAR},
      </if>
      <if test="begincodeKeys != null" >
        begincode_keys = #{begincodeKeys,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null" >
        view_count = #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="begincodeNavigationId != null" >
        begincode_navigation_id = #{begincodeNavigationId,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="goodCount != null" >
        good_count = #{goodCount,jdbcType=INTEGER},
      </if>
      <if test="badCount != null" >
        bad_count = #{badCount,jdbcType=INTEGER},
      </if>
      <if test="codeTypeId != null" >
        code_type_id = #{codeTypeId,jdbcType=INTEGER},
      </if>
      <if test="releaseState != null" >
        release_state = #{releaseState,jdbcType=CHAR},
      </if>
      <if test="checkFlag != null" >
        check_flag = #{checkFlag,jdbcType=CHAR},
      </if>
      <if test="codeTypeName != null" >
        code_type_name = #{codeTypeName,jdbcType=VARCHAR},
      </if>
      <if test="codeContent != null" >
        code_content = #{codeContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where begincode_code_id = #{begincodeCodeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.begincode.core.model.BegincodeCode" >
    update begincode_code
    set code_info = #{codeInfo,jdbcType=VARCHAR},
      code_download_url = #{codeDownloadUrl,jdbcType=VARCHAR},
      prohibition_message = #{prohibitionMessage,jdbcType=CHAR},
      begincode_keys = #{begincodeKeys,jdbcType=VARCHAR},
      view_count = #{viewCount,jdbcType=INTEGER},
      begincode_navigation_id = #{begincodeNavigationId,jdbcType=INTEGER},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=CHAR},
      good_count = #{goodCount,jdbcType=INTEGER},
      bad_count = #{badCount,jdbcType=INTEGER},
      code_type_id = #{codeTypeId,jdbcType=INTEGER},
      release_state = #{releaseState,jdbcType=CHAR},
      check_flag = #{checkFlag,jdbcType=CHAR},
      code_type_name = #{codeTypeName,jdbcType=VARCHAR},
      code_content = #{codeContent,jdbcType=LONGVARCHAR}
    where begincode_code_id = #{begincodeCodeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.begincode.core.model.BegincodeCode" >
    update begincode_code
    set code_info = #{codeInfo,jdbcType=VARCHAR},
      code_download_url = #{codeDownloadUrl,jdbcType=VARCHAR},
      prohibition_message = #{prohibitionMessage,jdbcType=CHAR},
      begincode_keys = #{begincodeKeys,jdbcType=VARCHAR},
      view_count = #{viewCount,jdbcType=INTEGER},
      begincode_navigation_id = #{begincodeNavigationId,jdbcType=INTEGER},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=CHAR},
      good_count = #{goodCount,jdbcType=INTEGER},
      bad_count = #{badCount,jdbcType=INTEGER},
      code_type_id = #{codeTypeId,jdbcType=INTEGER},
      release_state = #{releaseState,jdbcType=CHAR},
      check_flag = #{checkFlag,jdbcType=CHAR},
      code_type_name = #{codeTypeName,jdbcType=VARCHAR}
    where begincode_code_id = #{begincodeCodeId,jdbcType=INTEGER}
  </update>
</mapper>