<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.begincode.core.mapper.CodeCommentMapper" >
  <resultMap id="BaseResultMap" type="org.begincode.core.model.CodeComment" >
    <id column="code_comment_id" property="codeCommentId" jdbcType="INTEGER" />
    <result column="code_comment_content" property="codeCommentContent" jdbcType="VARCHAR" />
    <result column="create_datatime" property="createDatatime" jdbcType="TIMESTAMP" />
    <result column="begincode_user_id" property="begincodeUserId" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="comment_status" property="commentStatus" jdbcType="CHAR" />
    <result column="begincode_code_id" property="begincodeCodeId" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    code_comment_id, code_comment_content, create_datatime, begincode_user_id, nickname, 
    pic, comment_status, begincode_code_id, order_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from code_comment
    where code_comment_id = #{codeCommentId,jdbcType=INTEGER}
  </select>
    <select id="selectByCodeId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from code_comment
    where begincode_code_id = #{begincodeCodeId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from code_comment
    where code_comment_id = #{codeCommentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.begincode.core.model.CodeComment" >
    insert into code_comment (code_comment_id, code_comment_content, 
      create_datatime, begincode_user_id, nickname, 
      pic, comment_status, begincode_code_id, 
      order_number)
    values (#{codeCommentId,jdbcType=INTEGER}, #{codeCommentContent,jdbcType=VARCHAR}, 
      #{createDatatime,jdbcType=TIMESTAMP}, #{begincodeUserId,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR}, #{commentStatus,jdbcType=CHAR}, #{begincodeCodeId,jdbcType=INTEGER}, 
      #{orderNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.begincode.core.model.CodeComment" >
    insert into code_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codeCommentId != null" >
        code_comment_id,
      </if>
      <if test="codeCommentContent != null" >
        code_comment_content,
      </if>
      <if test="createDatatime != null" >
        create_datatime,
      </if>
      <if test="begincodeUserId != null" >
        begincode_user_id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="commentStatus != null" >
        comment_status,
      </if>
      <if test="begincodeCodeId != null" >
        begincode_code_id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codeCommentId != null" >
        #{codeCommentId,jdbcType=INTEGER},
      </if>
      <if test="codeCommentContent != null" >
        #{codeCommentContent,jdbcType=VARCHAR},
      </if>
      <if test="createDatatime != null" >
        #{createDatatime,jdbcType=TIMESTAMP},
      </if>
      <if test="begincodeUserId != null" >
        #{begincodeUserId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="commentStatus != null" >
        #{commentStatus,jdbcType=CHAR},
      </if>
      <if test="begincodeCodeId != null" >
        #{begincodeCodeId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.begincode.core.model.CodeComment" >
    update code_comment
    <set >
      <if test="codeCommentContent != null" >
        code_comment_content = #{codeCommentContent,jdbcType=VARCHAR},
      </if>
      <if test="createDatatime != null" >
        create_datatime = #{createDatatime,jdbcType=TIMESTAMP},
      </if>
      <if test="begincodeUserId != null" >
        begincode_user_id = #{begincodeUserId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="commentStatus != null" >
        comment_status = #{commentStatus,jdbcType=CHAR},
      </if>
      <if test="begincodeCodeId != null" >
        begincode_code_id = #{begincodeCodeId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=INTEGER},
      </if>
    </set>
    where code_comment_id = #{codeCommentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.begincode.core.model.CodeComment" >
    update code_comment
    set code_comment_content = #{codeCommentContent,jdbcType=VARCHAR},
      create_datatime = #{createDatatime,jdbcType=TIMESTAMP},
      begincode_user_id = #{begincodeUserId,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      comment_status = #{commentStatus,jdbcType=CHAR},
      begincode_code_id = #{begincodeCodeId,jdbcType=INTEGER},
      order_number = #{orderNumber,jdbcType=INTEGER}
    where code_comment_id = #{codeCommentId,jdbcType=INTEGER}
  </update>
</mapper>