<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.begincode.core.mapper.CourseTypeMapper" >
  <resultMap id="BaseResultMap" type="org.begincode.core.model.CourseType" >
    <id column="course_type_id" property="courseTypeId" jdbcType="INTEGER" />
    <result column="course_type_name" property="courseTypeName" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    course_type_id, course_type_name, delete_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from course_type
    where course_type_id = #{courseTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course_type
    where course_type_id = #{courseTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.begincode.core.model.CourseType" >
    insert into course_type (course_type_id, course_type_name, delete_flag
      )
    values (#{courseTypeId,jdbcType=INTEGER}, #{courseTypeName,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.begincode.core.model.CourseType" >
    insert into course_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseTypeId != null" >
        course_type_id,
      </if>
      <if test="courseTypeName != null" >
        course_type_name,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseTypeId != null" >
        #{courseTypeId,jdbcType=INTEGER},
      </if>
      <if test="courseTypeName != null" >
        #{courseTypeName,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.begincode.core.model.CourseType" >
    update course_type
    <set >
      <if test="courseTypeName != null" >
        course_type_name = #{courseTypeName,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where course_type_id = #{courseTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.begincode.core.model.CourseType" >
    update course_type
    set course_type_name = #{courseTypeName,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=CHAR}
    where course_type_id = #{courseTypeId,jdbcType=INTEGER}
  </update>
</mapper>