<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.core.mapper.ImgMapper" >
  <resultMap id="BaseResultMap" type="org.core.model.Img" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="sku" property="sku" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="org.core.model.Img" >
    insert into img (id, sku, flag, 
      url)
    values (#{id,jdbcType=INTEGER}, #{sku,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR})
      <selectKey keyProperty="id" resultType="int" order="AFTER">

			select LAST_INSERT_ID() 

		</selectKey> 
  </insert>
  <insert id="insertSelective" parameterType="org.core.model.Img" >
    insert into img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sku != null" >
        sku,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sku != null" >
        #{sku,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>