<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.core.mapper.ProjectStageMapper" >
  <resultMap id="BaseResultMap" type="org.core.model.ProjectStage" >
    <id column="project_stage_id" property="projectStageId" jdbcType="INTEGER" />
    <result column="stage_name" property="stageName" jdbcType="VARCHAR" />
    <result column="stage_abstract" property="stageAbstract" jdbcType="VARCHAR" />
    <result column="video_url" property="videoUrl" jdbcType="VARCHAR" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="begincode_project_id" property="begincodeProjectId" jdbcType="INTEGER" />
    <result column="view_count" property="viewCount" jdbcType="INTEGER" />
    <result column="release_state" property="releaseState" jdbcType="CHAR" />
    <result column="good_count" property="goodCount" jdbcType="INTEGER" />
    <result column="bad_count" property="badCount" jdbcType="INTEGER" />
    <result column="begincode_user_id" property="begincodeUserId" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    project_stage_id, stage_name, stage_abstract, video_url, create_datetime, begincode_project_id, 
    view_count, release_state, good_count, bad_count, begincode_user_id, nickname, pic, 
    project_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from project_stage
    where project_stage_id = #{projectStageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_stage
    where project_stage_id = #{projectStageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.core.model.ProjectStage" >
    insert into project_stage (project_stage_id, stage_name, stage_abstract, 
      video_url, create_datetime, begincode_project_id, 
      view_count, release_state, good_count, 
      bad_count, begincode_user_id, nickname, 
      pic, project_name)
    values (#{projectStageId,jdbcType=INTEGER}, #{stageName,jdbcType=VARCHAR}, #{stageAbstract,jdbcType=VARCHAR}, 
      #{videoUrl,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}, #{begincodeProjectId,jdbcType=INTEGER}, 
      #{viewCount,jdbcType=INTEGER}, #{releaseState,jdbcType=CHAR}, #{goodCount,jdbcType=INTEGER}, 
      #{badCount,jdbcType=INTEGER}, #{begincodeUserId,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.core.model.ProjectStage" >
    insert into project_stage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectStageId != null" >
        project_stage_id,
      </if>
      <if test="stageName != null" >
        stage_name,
      </if>
      <if test="stageAbstract != null" >
        stage_abstract,
      </if>
      <if test="videoUrl != null" >
        video_url,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="begincodeProjectId != null" >
        begincode_project_id,
      </if>
      <if test="viewCount != null" >
        view_count,
      </if>
      <if test="releaseState != null" >
        release_state,
      </if>
      <if test="goodCount != null" >
        good_count,
      </if>
      <if test="badCount != null" >
        bad_count,
      </if>
      <if test="begincodeUserId != null" >
        begincode_user_id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectStageId != null" >
        #{projectStageId,jdbcType=INTEGER},
      </if>
      <if test="stageName != null" >
        #{stageName,jdbcType=VARCHAR},
      </if>
      <if test="stageAbstract != null" >
        #{stageAbstract,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null" >
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="begincodeProjectId != null" >
        #{begincodeProjectId,jdbcType=INTEGER},
      </if>
      <if test="viewCount != null" >
        #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="releaseState != null" >
        #{releaseState,jdbcType=CHAR},
      </if>
      <if test="goodCount != null" >
        #{goodCount,jdbcType=INTEGER},
      </if>
      <if test="badCount != null" >
        #{badCount,jdbcType=INTEGER},
      </if>
      <if test="begincodeUserId != null" >
        #{begincodeUserId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.core.model.ProjectStage" >
    update project_stage
    <set >
      <if test="stageName != null" >
        stage_name = #{stageName,jdbcType=VARCHAR},
      </if>
      <if test="stageAbstract != null" >
        stage_abstract = #{stageAbstract,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null" >
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="begincodeProjectId != null" >
        begincode_project_id = #{begincodeProjectId,jdbcType=INTEGER},
      </if>
      <if test="viewCount != null" >
        view_count = #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="releaseState != null" >
        release_state = #{releaseState,jdbcType=CHAR},
      </if>
      <if test="goodCount != null" >
        good_count = #{goodCount,jdbcType=INTEGER},
      </if>
      <if test="badCount != null" >
        bad_count = #{badCount,jdbcType=INTEGER},
      </if>
      <if test="begincodeUserId != null" >
        begincode_user_id = #{begincodeUserId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
    </set>
    where project_stage_id = #{projectStageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.core.model.ProjectStage" >
    update project_stage
    set stage_name = #{stageName,jdbcType=VARCHAR},
      stage_abstract = #{stageAbstract,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      begincode_project_id = #{begincodeProjectId,jdbcType=INTEGER},
      view_count = #{viewCount,jdbcType=INTEGER},
      release_state = #{releaseState,jdbcType=CHAR},
      good_count = #{goodCount,jdbcType=INTEGER},
      bad_count = #{badCount,jdbcType=INTEGER},
      begincode_user_id = #{begincodeUserId,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR}
    where project_stage_id = #{projectStageId,jdbcType=INTEGER}
  </update>
</mapper>