<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.begincode.core.mapper.UserSourceMapper" >
  <resultMap id="BaseResultMap" type="org.begincode.core.model.UserSource" >
    <id column="user_source_id" property="userSourceId" jdbcType="INTEGER" />
    <result column="user_source_name" property="userSourceName" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_source_id, user_source_name, delete_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user_source
    where user_source_id = #{userSourceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_source
    where user_source_id = #{userSourceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.begincode.core.model.UserSource" >
    insert into user_source (user_source_id, user_source_name, delete_flag
      )
    values (#{userSourceId,jdbcType=INTEGER}, #{userSourceName,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.begincode.core.model.UserSource" >
    insert into user_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userSourceId != null" >
        user_source_id,
      </if>
      <if test="userSourceName != null" >
        user_source_name,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userSourceId != null" >
        #{userSourceId,jdbcType=INTEGER},
      </if>
      <if test="userSourceName != null" >
        #{userSourceName,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.begincode.core.model.UserSource" >
    update user_source
    <set >
      <if test="userSourceName != null" >
        user_source_name = #{userSourceName,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where user_source_id = #{userSourceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.begincode.core.model.UserSource" >
    update user_source
    set user_source_name = #{userSourceName,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=CHAR}
    where user_source_id = #{userSourceId,jdbcType=INTEGER}
  </update>
</mapper>